/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body,main { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.index-class{
   
    
    text-align: right;
    visibility: hidden;

}
.language-class{
    margin-top: 60px;
    
    
}
.head-class{
    margin-top: 100px
}
.root-class{
   
    width: 100%;
    margin: auto
    
}
main{
     
    display: flex;
    flex-direction: column;
   
  
    
   
   
    

}