

 <mat-spinner *ngIf="!isLoading"></mat-spinner >

<main >
      
  <div  class="home-class" #isLoading >
     <div  data-aos="flip-left">
      <div  class="video-class" align="center"   >
        <video  controls align="center" class="img-thumbnail" >
        <source src="assets/images/vide1.mp4" type="video/mp4" >
        <source src="assets/images/vide1.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
     </div>

     <div   class="container" >
        <p  class="paragraph"  >
          Lorem ipsum dolor sit amet, 
          consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
          venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
          Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
          Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
          dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
          nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam 
          semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
          endrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis 
          aucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. 
          Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, 
          leo eget bibendum sodales, augue velit cursus nunc,</p>
           
        <p class="paragraph">
          Lorem ipsum dolor sit amet, 
          consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
          venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
          Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
          Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
          dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
          nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam 
          semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
          endrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis 
          aucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. 
          Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, 
          leo eget bibendum sodales, augue velit cursus nunc,</p>
          
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" align="center"  >
         
          <ul class="carousel-indicators">
              <li data-target="#carouselExampleSlidesOnly" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleSlidesOnly" data-slide-to="1"></li>
              <li data-target="#carouselExampleSlidesOnly" data-slide-to="2"></li>
          </ul>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img   src="assets/images/moumen1.jpg" alt="First slide" class="img-fluid img-thumbnail"   >
            <div class="carousel-caption">
               <h3>Los Angeles</h3>
                 <p>We had such a great time in LA!</p>
            </div>
          </div>

          <div class="carousel-item">
            <img  src="assets/images/moumen2.jpg" alt="Second slide" class="img-fluid img-thumbnail" >
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
                <p>We had such a great time in LA!</p>
            </div>
          </div>

          <div class="carousel-item">
            <img  src="assets/images/moumen3.jpg" alt="Third slide" class="img-fluid img-thumbnail" >
            <div class="carousel-caption">
               <h3>Los Angeles</h3>
                  <p>We had such a great time in LA!</p>
             </div>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" data-slide="prev">
             <span class="carousel-control-prev-icon"></span>
          </a>

          <a class="carousel-control-next" href="#carouselExampleSlidesOnly" data-slide="next">
             <span class="carousel-control-next-icon"></span>
          </a>
              
        </div>
        </div>
          <div class="animated bounceInLeft" >
            <p  class="paragraph " > Lorem ipsum dolor sit amet, 
              consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
              Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
              aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
              venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
              dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
              Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
              nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam 
              semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
              endrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis 
              aucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. 
              Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, 
              leo eget bibendum sodales, augue velit cursus nunc,</p>
                
          </div>

          <div class="paragraph"   >
            <p  data-aos="flip-left"> Lorem ipsum dolor sit amet, 
              consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
              Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
              aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
              venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
              dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
              Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
              nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam 
              semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
              ndrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis 
              aucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. 
              Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, 
              leo eget bibendum sodales, augue velit cursus nunc,</p>
          </div>
                  
          <div data-aos="fade-left">
            <p  class="paragraph"  > Lorem ipsum dolor sit amet, 
              consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
              Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
              Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
              Nulla consequat massa quis enim. Donec pede justo, fringilla vel, 
              aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, 
              venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
              Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, 
              dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
              Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
              nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam 
              semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
              endrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis 
              aucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. 
              Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, 
              leo eget bibendum sodales, augue velit cursus nunc,</p>
          </div>
  </div>
  </div>
</main>
         